flows.json
[{"id":"c8a1e6a8.f472c8","type":"tab","label":"Agenda","disabled":false,"info":""},{"id":"c61cb439.426f98","type":"mongooseconf","uri":"mongodb+srv://cluster0.vfh7a.mongodb.net/agenda?authSource=agenda","name":"agenda","options":""},{"id":"99b385c7.a9ed88","type":"mongooseOp","z":"c8a1e6a8.f472c8","name":"save","confignode":"c61cb439.426f98","model":"","operation":"","x":610,"y":280,"wires":[["67f763.b2c5d89c"]]},{"id":"e790a0c8.40bc1","type":"mongooseModel","z":"c8a1e6a8.f472c8","name":"usuario","collection":"usuario","fields":[{"name":"nome","type":"String","childSchema":null,"validations":[]}],"x":160,"y":60,"wires":[]},{"id":"7817887d.011738","type":"http in","z":"c8a1e6a8.f472c8","name":"","url":"/usuario","method":"post","upload":false,"swaggerDoc":"","x":190,"y":280,"wires":[["85278844.156af8"]]},{"id":"85278844.156af8","type":"function","z":"c8a1e6a8.f472c8","name":"","func":"msg.model=\"usuario\"\nmsg.operation =\"save\"\nmsg.query = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":280,"wires":[["99b385c7.a9ed88"]]},{"id":"67f763.b2c5d89c","type":"http response","z":"c8a1e6a8.f472c8","name":"","statusCode":"","headers":{},"x":790,"y":280,"wires":[]},{"id":"eab2a751.7c6368","type":"mongooseOp","z":"c8a1e6a8.f472c8","name":"list","confignode":"c61cb439.426f98","model":"","operation":"","x":610,"y":380,"wires":[["bf2006a6.3009a8"]]},{"id":"2eb6d8ae.1be228","type":"http in","z":"c8a1e6a8.f472c8","name":"","url":"/usuario","method":"get","upload":false,"swaggerDoc":"","x":190,"y":380,"wires":[["c3613c0f.06e2b","779d738d.01c6bc"]]},{"id":"c3613c0f.06e2b","type":"function","z":"c8a1e6a8.f472c8","name":"","func":"msg.model=\"usuario\"\nmsg.operation =\"find\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":380,"wires":[["eab2a751.7c6368"]]},{"id":"bf2006a6.3009a8","type":"http response","z":"c8a1e6a8.f472c8","name":"","statusCode":"","headers":{},"x":790,"y":380,"wires":[]},{"id":"779d738d.01c6bc","type":"debug","z":"c8a1e6a8.f472c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":460,"wires":[]},{"id":"50614a9b.16ed8c","type":"inject","z":"c8a1e6a8.f472c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":180,"wires":[["86892ae9.d5fdd"]]},{"id":"86892ae9.d5fdd","type":"function","z":"c8a1e6a8.f472c8","name":"","func":"msg.model=\"usuario\"\nmsg.operation =\"find\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":180,"wires":[["fc52132a.29a08"]]},{"id":"fc52132a.29a08","type":"mongooseOp","z":"c8a1e6a8.f472c8","name":"list","confignode":"c61cb439.426f98","model":"","operation":"","x":580,"y":180,"wires":[["89c7529.5f80cb"]]},{"id":"89c7529.5f80cb","type":"debug","z":"c8a1e6a8.f472c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":180,"wires":[]},{"id":"c2cafbae.cf6f38","type":"function","z":"c8a1e6a8.f472c8","name":"","func":"msg.model=\"usuario\"\nmsg.operation =\"save\"\nmsg.query = { nome: \"aa11\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":240,"wires":[["99b385c7.a9ed88"]]},{"id":"b2bea0ee.9cece","type":"inject","z":"c8a1e6a8.f472c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":220,"wires":[["c2cafbae.cf6f38"]]}]