flows.json
[{"id":"c8a1e6a8.f472c8","type":"tab","label":"Agenda","disabled":false,"info":""},{"id":"892d8341.c3cc8","type":"group","z":"c8a1e6a8.f472c8","name":"CREATE","style":{"label":true},"nodes":["99b385c7.a9ed88","7817887d.011738","85278844.156af8","67f763.b2c5d89c"],"x":94,"y":319,"w":712,"h":82},{"id":"b158f9b2.8a2f28","type":"group","z":"c8a1e6a8.f472c8","name":"READ","style":{"label":true},"nodes":["eab2a751.7c6368","2eb6d8ae.1be228","c3613c0f.06e2b","bf2006a6.3009a8"],"x":94,"y":439,"w":732,"h":82},{"id":"b72018b1.e31f28","type":"group","z":"c8a1e6a8.f472c8","name":"DELETE","style":{"label":true},"nodes":["59b76f9.8f45f9","40fec8b2.0081e8","112b5118.0eb6ef","5c28dc58.5032d4"],"x":94,"y":559,"w":772,"h":82},{"id":"c61cb439.426f98","type":"mongooseconf","uri":"${MONGO_SERVER_URI}","name":"","options":""},{"id":"99b385c7.a9ed88","type":"mongooseOp","z":"c8a1e6a8.f472c8","g":"892d8341.c3cc8","name":"save","confignode":"c61cb439.426f98","model":"","operation":"","x":570,"y":360,"wires":[["67f763.b2c5d89c"]]},{"id":"e790a0c8.40bc1","type":"mongooseModel","z":"c8a1e6a8.f472c8","name":"usuario","collection":"usuario","fields":[{"name":"nome","type":"String","childSchema":null,"validations":[]},{"name":"nasc","type":"String","childSchema":null,"validations":[]},{"name":"idade","type":"String","childSchema":null,"validations":[]},{"name":"genero","type":"String","childSchema":null,"validations":[]}],"x":160,"y":60,"wires":[]},{"id":"7817887d.011738","type":"http in","z":"c8a1e6a8.f472c8","g":"892d8341.c3cc8","name":"POST","url":"/usuario","method":"post","upload":false,"swaggerDoc":"","x":170,"y":360,"wires":[["85278844.156af8"]]},{"id":"85278844.156af8","type":"function","z":"c8a1e6a8.f472c8","g":"892d8341.c3cc8","name":"","func":"msg.model=\"usuario\"\nmsg.operation =\"save\"\nmsg.query = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":360,"wires":[["99b385c7.a9ed88"]]},{"id":"67f763.b2c5d89c","type":"http response","z":"c8a1e6a8.f472c8","g":"892d8341.c3cc8","name":"","statusCode":"","headers":{},"x":730,"y":360,"wires":[]},{"id":"eab2a751.7c6368","type":"mongooseOp","z":"c8a1e6a8.f472c8","g":"b158f9b2.8a2f28","name":"list","confignode":"c61cb439.426f98","model":"","operation":"","x":590,"y":480,"wires":[["bf2006a6.3009a8"]]},{"id":"2eb6d8ae.1be228","type":"http in","z":"c8a1e6a8.f472c8","g":"b158f9b2.8a2f28","name":"GET","url":"/usuario","method":"get","upload":false,"swaggerDoc":"","x":170,"y":480,"wires":[["c3613c0f.06e2b"]]},{"id":"c3613c0f.06e2b","type":"function","z":"c8a1e6a8.f472c8","g":"b158f9b2.8a2f28","name":"","func":"msg.model=\"usuario\"\nmsg.operation =\"find\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":480,"wires":[["eab2a751.7c6368"]]},{"id":"bf2006a6.3009a8","type":"http response","z":"c8a1e6a8.f472c8","g":"b158f9b2.8a2f28","name":"","statusCode":"","headers":{},"x":750,"y":480,"wires":[]},{"id":"50614a9b.16ed8c","type":"inject","z":"c8a1e6a8.f472c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":540,"y":100,"wires":[["86892ae9.d5fdd"]]},{"id":"86892ae9.d5fdd","type":"function","z":"c8a1e6a8.f472c8","name":"","func":"let mongoUri = env.get(\"MONGO_SERVER_URI\");\nnode.warn(mongoUri)\nmsg.model=\"usuario\"\nmsg.operation =\"find\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":100,"wires":[["fc52132a.29a08"]]},{"id":"fc52132a.29a08","type":"mongooseOp","z":"c8a1e6a8.f472c8","name":"list","confignode":"c61cb439.426f98","model":"","operation":"","x":880,"y":100,"wires":[["89c7529.5f80cb"]]},{"id":"89c7529.5f80cb","type":"debug","z":"c8a1e6a8.f472c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":100,"wires":[]},{"id":"59b76f9.8f45f9","type":"http in","z":"c8a1e6a8.f472c8","g":"b72018b1.e31f28","name":"DELETE","url":"/usuario/:id","method":"delete","upload":false,"swaggerDoc":"","x":180,"y":600,"wires":[["40fec8b2.0081e8"]]},{"id":"40fec8b2.0081e8","type":"function","z":"c8a1e6a8.f472c8","g":"b72018b1.e31f28","name":"","func":"msg.model=\"usuario\"\nmsg.operation =\"deleteOne\"\nmsg.query = {_id: msg.req.params.id}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":600,"wires":[["112b5118.0eb6ef"]]},{"id":"112b5118.0eb6ef","type":"mongooseOp","z":"c8a1e6a8.f472c8","g":"b72018b1.e31f28","name":"delete","confignode":"c61cb439.426f98","model":"","operation":"","x":600,"y":600,"wires":[["5c28dc58.5032d4"]]},{"id":"5c28dc58.5032d4","type":"http response","z":"c8a1e6a8.f472c8","g":"b72018b1.e31f28","name":"","statusCode":"","headers":{},"x":790,"y":600,"wires":[]}]